<form action="/new" method="post" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="fullname">Ingresa el nombre:</label>
            <input type="text" name="fullname" id="fullname" placeholder="_________________" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>

        <div class="mb-3">
            <label for="email">Ingresa el email:</label>
            <input type="email" name="email" placeholder="_________________" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>

        <div class="mb-3">
            <label for="phone">Ingresa teléfono:</label>
            <input type="text" name="phone" placeholder="_________________" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
    
        <i class="fa-regular fa-floppy-disk btn btn-primary green"></i>
    </div>
</form>