body {
    background-color: #121212;
}

.bg-black {
    background-color: #09090909;
}

.green {
    padding: 10px 30px;
    font-weight: bold;
    font-size: 22px;
}

.avatar {
    max-width: 20%;
}

.borde {
    border-bottom: 2px solid #fff;
    padding: 5px;
}